<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>choice</key>
		<string>Dog</string>
		<key>modifiers</key>
		<array>
			<dict>
				<key>modifier_only</key>
				<string>No Legs</string>
				<key>full_text</key>
				<string>A dog, without the use of your legs</string>
			</dict>
			<dict>
				<key>modifier_only</key>
				<string>No Arms</string>
				<key>full_text</key>
				<string>A dog, without the use of your arms</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>choice</key>
		<string>Flower</string>
		<key>modifiers</key>
		<array>
			<dict>
				<key>modifier_only</key>
				<string>While Jumping</string>
				<key>full_text</key>
				<string>A flower, while jumping</string>
			</dict>
			<dict>
				<key>modifier_only</key>
				<string>Lying Down</string>
				<key>full_text</key>
				<string>A flower, while lying down</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>choice</key>
		<string>Chair</string>
		<key>modifiers</key>
		<array>
			<dict>
				<key>modifier_only</key>
				<string>Stare at Teammate</string>
				<key>full_text</key>
				<string>A chair, while staring at one of your teammates</string>
			</dict>
			<dict>
				<key>modifier_only</key>
				<string>Eyes Closed</string>
				<key>full_text</key>
				<string>A chair, with your eyes closed</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>choice</key>
		<string>Elephant</string>
		<key>modifiers</key>
		<array>
			<dict>
				<key>modifier_only</key>
				<string>Face Away From Teammate</string>
				<key>full_text</key>
				<string>An elephant, with your back to your team</string>
			</dict>
			<dict>
				<key>modifier_only</key>
				<string>Balance on One Leg</string>
				<key>full_text</key>
				<string>An elephant, while balancing on one leg</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>choice</key>
		<string>Football</string>
		<key>modifiers</key>
		<array>
			<dict>
				<key>modifier_only</key>
				<string>Making Fists</string>
				<key>full_text</key>
				<string>Football, while making fists with your hands</string>
			</dict>
			<dict>
				<key>modifier_only</key>
				<string>Jazz Hands</string>
				<key>full_text</key>
				<string>Football, while doing jazz hands</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>choice</key>
		<string>Telephone</string>
		<key>modifiers</key>
		<array>
			<dict>
				<key>modifier_only</key>
				<string>Waltzing</string>
				<key>full_text</key>
				<string>A telephone, while waltzing</string>
			</dict>
			<dict>
				<key>modifier_only</key>
				<string>Salsa Dancing</string>
				<key>full_text</key>
				<string>A telephone, while salsa dancing</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
