<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>choice</key>
		<string>Dog</string>
		<key>modifiers</key>
		<array>
			<dict>
				<key>modifier_only</key>
				<string>No Legs</string>
				<key>full_text</key>
				<string>A dog without your legs!</string>
			</dict>
			<dict>
				<key>modifier_only</key>
				<string>Jumping</string>
				<key>full_text</key>
				<string>A dog while jumping up and down!</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>choice</key>
		<string>Dog</string>
		<key>modifiers</key>
		<array>
			<dict>
				<key>modifier_only</key>
				<string>No Legs</string>
				<key>full_text</key>
				<string>A dog without your legs!</string>
			</dict>
			<dict>
				<key>modifier_only</key>
				<string>Jumping</string>
				<key>full_text</key>
				<string>A dog while jumping up and down!</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>choice</key>
		<string>Dog</string>
		<key>modifiers</key>
		<array>
			<dict>
				<key>modifier_only</key>
				<string>No Legs</string>
				<key>full_text</key>
				<string>A dog without your legs!</string>
			</dict>
			<dict>
				<key>modifier_only</key>
				<string>Jumping</string>
				<key>full_text</key>
				<string>A dog while jumping up and down!</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>choice</key>
		<string>Dog</string>
		<key>modifiers</key>
		<array>
			<dict>
				<key>modifier_only</key>
				<string>No Legs</string>
				<key>full_text</key>
				<string>A dog without your legs!</string>
			</dict>
			<dict>
				<key>modifier_only</key>
				<string>Jumping</string>
				<key>full_text</key>
				<string>A dog while jumping up and down!</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>choice</key>
		<string>Dog</string>
		<key>modifiers</key>
		<array>
			<dict>
				<key>modifier_only</key>
				<string>No Legs</string>
				<key>full_text</key>
				<string>A dog without your legs!</string>
			</dict>
			<dict>
				<key>modifier_only</key>
				<string>Jumping</string>
				<key>full_text</key>
				<string>A dog while jumping up and down!</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>choice</key>
		<string>Dog</string>
		<key>modifiers</key>
		<array>
			<dict>
				<key>modifier_only</key>
				<string>No Legs</string>
				<key>full_text</key>
				<string>A dog without your legs!</string>
			</dict>
			<dict>
				<key>modifier_only</key>
				<string>Jumping</string>
				<key>full_text</key>
				<string>A dog while jumping up and down!</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
